numpy
matplotlib
seaborn
pickle-mixin
jsonlines
lxml
tensorflow
mysql
nltk
Flask
flask-mysqldb
flask_paginate
gensim
mysql-connector-python-rf
transformers
torch
torchvision
torchaudio
jupyterlab
ipywidgets
openpyxl